html{
background: url("http://www.gotowallpapers.com/wallpapers/allimg/c120720/1342LWY22530-150L.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
}

h1{
  text-align: left;
  margin-top: 50px;
  color: orange;
}
h2{
  color:#583BB2;
  font-size: 1.2em;
  margin-left: 10px;
}
#create_button{
  color: #583BB2;
  margin-left: 90px;
}
.tabs{
 text-align: left;
 border-left: red solid 20px;
 border-radius: 30px;
}

.tabs li{
  text-decoration: none;
  display: inline;
  margin-right: 20px;
}
.tabs ul li a{
  text-decoration: none;
  color: orange;
}
.tabs ul li a:hover{
  color:#583BB2;
}
.cover{
  color: #583BB2;
  margin-left: 20px;
}


div.survey_content {
  color: #fff;
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

div#question_container {
  color: #fff;
}

ul.option_list li {
  list-style: none;
  margin-bottom: 15px;
}

#question_submit {
  background-color: #583BB2;
  position: relative;
  margin-left: 40px;
}

.create_button {
 margin-left: 60px;
  color: #583BB2;
}
.create_button:hover{
  color:orange;
}
.survey_name{
  font-size: 18px;
  margin-left: 20px;
}
.survey{
  color: #583BB2;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 40px;
}
.survey:hover{
  color:orange;
}


