
<h2>Enter the name of your survey below.</h2>
<div class="survey_name"
<form action="/create_survey" method="POST">
  <input type="text" name="name" placeholder="Survey Name" value="">
  <input type="submit" value="Submit">
</form>
</div>



