
<h2>Enter your first question and answer below.</h2>
<div class="question_name"
<form action="/create_question" method="POST">
  <input type="text" name="name" placeholder="Question" value="">
  <input type="text" name="name" placeholder="Answer" value="">
  <input type="submit" value="Submit">
</form>
</div>

