<div class='cover'>

  <form>

  Email: <input type="text" name="data[email]" placeholder="Email"></br>
  Password: <input type="password" name="data[password]" placeholder="Password">
  <input type="submit" value="Login">
</div>
