<div>
  <form>
  Name: <input type="text" name="name" placeholder="Name"><br>
  Email: <input type="text" name="email" placeholder="Email">
  Password: <input type="password" name="pwd" placeholder="Password">
  <input type="submit" value="Sign In">
</div>
