<div class="container">
  <h3>Register</h3>
  <form name = "register" action="#"  method="post">
    <ul>
      <li><input type = "string" name="input[name]" placeholder="Your Name"></li>
      <li><input type = "email" name="input[email]" placeholder="Email"></li>
      <li><input type = "password" name="input[password]" placeholder="Password"></li>
    </ul>
    <div id="create_button">
    <input type = "submit" value ="Create me!">
  </div>
  </form>
 </div>
