<div class="survey_page">

<h2>Enter your first question and answer below.</h2>
    <div class="question_name">

    <form action="/create_question" method="POST">
      <input type="text" name="question" placeholder="Question" value="">
      <p>In order to submit you must have at least 2 options</p>
         <p>
          <span id="addVar">Add answer</span>
          </p>
          <p>
          </p>
      <div class="sneaky_submit">
        <input type="submit" value="Submit">
      </div>
    </form>
    </div>
</div>


